<div class="{{ rating.getOverall() }}" id="payoff">
    <p>{{ rating.getMessage() }}</p>
</div>
<div id="location-search">
    <i class="fa fa-location-arrow"></i>
    <span id="location">{{ station.getName() }}</span>
</div>