@import url(../3rdparty/weather-icons/css/weather-icons.min.css);
/* line 1, ../../../app/Resources/scss/General/reset.scss */
body, html, p, h1, h2, h3, h4, ul, ol, li {
  margin: 0;
  padding: 0;
}

/** Colors **/
/** Font sizes**/
/** Relative font sizes**/
/** Breakpoints **/
/** Header size **/
/* line 1, ../../../app/Resources/scss/Content/layout.scss */
body {
  font-family: 'Montserrat', sans-serif;
  min-width: 600px;
}

/* line 5, ../../../app/Resources/scss/Content/layout.scss */
.block {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* line 9, ../../../app/Resources/scss/Content/layout.scss */
#summary {
  background-color: #d7d7d7;
}

/** Responsive styles **/
@media (min-width: 0px) {
  /* line 15, ../../../app/Resources/scss/Content/layout.scss */
  .block {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (min-width: 800px) {
  /* line 21, ../../../app/Resources/scss/Content/layout.scss */
  .block {
    padding-left: 15%;
    padding-right: 15%;
  }
}
@media (min-width: 1200px) {
  /* line 27, ../../../app/Resources/scss/Content/layout.scss */
  .block {
    padding-left: 20%;
    padding-right: 20%;
  }
}
/* line 5, ../../../app/Resources/scss/Content/header.scss */
header#page {
  background-image: url("../../images/flower.jpg");
  background-size: cover;
  position: relative;
}
/* line 10, ../../../app/Resources/scss/Content/header.scss */
header#page #payoff {
  position: relative;
}
/* line 13, ../../../app/Resources/scss/Content/header.scss */
header#page #location-search {
  display: inline-block;
  background: rgba(228, 226, 226, 0.3);
  font-size: 30px;
  bottom: 0;
  position: absolute;
  padding: 10px 20px;
  border-radius: 5px;
  border: 6px solid #d7d7d7;
  border-bottom: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #3e3e3e;
}
/* line 27, ../../../app/Resources/scss/Content/header.scss */
header#page #location-search i {
  margin-right: 5px;
}
/* line 31, ../../../app/Resources/scss/Content/header.scss */
header#page p {
  padding: 20px 0px;
  text-align: center;
}
/* line 35, ../../../app/Resources/scss/Content/header.scss */
header#page #payoff.good {
  background: rgba(31, 236, 80, 0.5);
}
/* line 38, ../../../app/Resources/scss/Content/header.scss */
header#page #payoff.good p {
  color: #1fec50;
  text-shadow: -2px -2px 0 #10872c, 2px -2px 0 #10872c, -2px 2px 0 #10872c, 2px 2px 0 #10872c;
}
/* line 44, ../../../app/Resources/scss/Content/header.scss */
header#page #payoff.meh {
  background: rgba(249, 210, 90, 0.5);
}
/* line 47, ../../../app/Resources/scss/Content/header.scss */
header#page #payoff.meh p {
  color: #f9d25a;
  text-shadow: -2px -2px 0 #caa840, 2px -2px 0 #caa840, -2px 2px 0 #caa840, 2px 2px 0 #caa840;
}
/* line 53, ../../../app/Resources/scss/Content/header.scss */
header#page #payoff.bad {
  background: rgba(255, 49, 44, 0.5);
}
/* line 56, ../../../app/Resources/scss/Content/header.scss */
header#page #payoff.bad p {
  color: #ff312c;
  text-shadow: -2px -2px 0 #ba2421, 2px -2px 0 #ba2421, -2px 2px 0 #ba2421, 2px 2px 0 #ba2421;
}

/** Responsive styles **/
@media (min-width: 0px) {
  /* line 67, ../../../app/Resources/scss/Content/header.scss */
  header#page {
    min-height: 300px;
  }
  /* line 71, ../../../app/Resources/scss/Content/header.scss */
  header#page #payoff {
    top: 105px;
  }
  /* line 74, ../../../app/Resources/scss/Content/header.scss */
  header#page #payoff p {
    font-size: 50px;
  }

  /* line 79, ../../../app/Resources/scss/Content/header.scss */
  #location-search {
    left: 10%;
  }
}
@media (min-width: 800px) {
  /* line 85, ../../../app/Resources/scss/Content/header.scss */
  header#page #payoff {
    top: 97.5px;
  }
  /* line 88, ../../../app/Resources/scss/Content/header.scss */
  header#page #payoff p {
    font-size: 65px;
  }

  /* line 93, ../../../app/Resources/scss/Content/header.scss */
  #location-search {
    left: 15%;
  }
}
@media (min-width: 1200px) {
  /* line 98, ../../../app/Resources/scss/Content/header.scss */
  header#page {
    min-height: 500px;
  }
  /* line 102, ../../../app/Resources/scss/Content/header.scss */
  header#page #payoff {
    top: 172.5px;
  }
  /* line 105, ../../../app/Resources/scss/Content/header.scss */
  header#page #payoff p {
    font-size: 90px;
  }

  /* line 110, ../../../app/Resources/scss/Content/header.scss */
  #location-search {
    left: 20%;
  }
}
@media (min-width: 1600px) {
  /* line 116, ../../../app/Resources/scss/Content/header.scss */
  header#page #payoff {
    top: 172.5px;
  }
  /* line 119, ../../../app/Resources/scss/Content/header.scss */
  header#page header#page #payoff p {
    font-size: 115px;
  }
}
/* line 1, ../../../app/Resources/scss/Content/summary.scss */
.measurement {
  float: left;
  position: relative;
  border-radius: 5%;
  width: 27%;
  text-align: center;
  min-width: 120px;
  max-width: 250px;
}

/* line 10, ../../../app/Resources/scss/Content/summary.scss */
.measurements {
  display: flex;
  justify-content: space-between;
  overflow: auto;
}

/* line 15, ../../../app/Resources/scss/Content/summary.scss */
.measurement:before {
  content: "";
  display: block;
  padding-top: 80%;
  /* initial ratio of 1:1*/
}

/* line 20, ../../../app/Resources/scss/Content/summary.scss */
.measurement p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  bottom: 0;
  right: 0;
  line-height: 1.3;
}

/* line 30, ../../../app/Resources/scss/Content/summary.scss */
.measurement.good {
  background-color: #1fec50;
  border: 1px solid #10872c;
}

/* line 34, ../../../app/Resources/scss/Content/summary.scss */
.measurement.meh {
  background-color: #f9d25a;
  border: 1px solid #caa840;
}

/* line 38, ../../../app/Resources/scss/Content/summary.scss */
.measurement.bad {
  background-color: #ff312c;
  border: 1px solid #ba2421;
}

/* line 42, ../../../app/Resources/scss/Content/summary.scss */
#text-summary {
  padding-top: 40px;
}

/** Responsive styles **/
@media (min-width: 0px) {
  /* line 49, ../../../app/Resources/scss/Content/summary.scss */
  .measurement .value {
    font-size: 35px;
  }
  /* line 52, ../../../app/Resources/scss/Content/summary.scss */
  .measurement i {
    font-size: 25px;
  }
  /* line 55, ../../../app/Resources/scss/Content/summary.scss */
  .measurement .suffix {
    font-size: 10px;
  }
}
@media (min-width: 800px) {
  /* line 62, ../../../app/Resources/scss/Content/summary.scss */
  .measurement .value {
    font-size: 45.5px;
  }
  /* line 65, ../../../app/Resources/scss/Content/summary.scss */
  .measurement i {
    font-size: 32.5px;
  }
  /* line 68, ../../../app/Resources/scss/Content/summary.scss */
  .measurement .suffix {
    font-size: 13px;
  }
}
@media (min-width: 1200px) {
  /* line 75, ../../../app/Resources/scss/Content/summary.scss */
  .measurement .value {
    font-size: 63.0px;
  }
  /* line 78, ../../../app/Resources/scss/Content/summary.scss */
  .measurement i {
    font-size: 45px;
  }
  /* line 81, ../../../app/Resources/scss/Content/summary.scss */
  .measurement .suffix {
    font-size: 18px;
  }
}
@media (min-width: 1600px) {
  /* line 88, ../../../app/Resources/scss/Content/summary.scss */
  .measurement .value {
    font-size: 80.5px;
  }
  /* line 91, ../../../app/Resources/scss/Content/summary.scss */
  .measurement i {
    font-size: 57.5px;
  }
  /* line 94, ../../../app/Resources/scss/Content/summary.scss */
  .measurement .suffix {
    font-size: 23px;
  }
}
/* line 15, ../../../app/Resources/scss/Content/table.scss */
#table {
  background-color: #e4e2e2;
}

/* line 18, ../../../app/Resources/scss/Content/table.scss */
table#week {
  width: 100%;
  color: #3e3e3e;
}
/* line 22, ../../../app/Resources/scss/Content/table.scss */
table#week td {
  text-align: center;
}
/* line 25, ../../../app/Resources/scss/Content/table.scss */
table#week tr {
  height: 70px;
}

/** Responsive styles **/
@media (min-width: 0px) {
  /* line 4, ../../../app/Resources/scss/Content/table.scss */
  table#week th, table#week i {
    font-size: 30px;
  }
  /* line 7, ../../../app/Resources/scss/Content/table.scss */
  table#week .value {
    font-size: 18px;
  }
  /* line 10, ../../../app/Resources/scss/Content/table.scss */
  table#week .suffix {
    font-size: 9px;
  }
}
@media (min-width: 800px) {
  /* line 4, ../../../app/Resources/scss/Content/table.scss */
  table#week th, table#week i {
    font-size: 40px;
  }
  /* line 7, ../../../app/Resources/scss/Content/table.scss */
  table#week .value {
    font-size: 24px;
  }
  /* line 10, ../../../app/Resources/scss/Content/table.scss */
  table#week .suffix {
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  /* line 4, ../../../app/Resources/scss/Content/table.scss */
  table#week th, table#week i {
    font-size: 50px;
  }
  /* line 7, ../../../app/Resources/scss/Content/table.scss */
  table#week .value {
    font-size: 30px;
  }
  /* line 10, ../../../app/Resources/scss/Content/table.scss */
  table#week .suffix {
    font-size: 15px;
  }
}
