<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
    <!-- Basic SEO properties -->
    <title>Is het kutweer v2</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ app.request.basepath }}/images/favicon.png" type="image/x-icon">

    <!-- Styles -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ app.request.basepath }}/styles/styles.css"/>
    <script src="{{ app.request.basepath }}/scripts/vendor.js"></script>
    <script src="{{ app.request.basepath }}/scripts/scripts.js"></script>
    {% if app.debug == false %}
        {% include 'partials/analytics.twig' %}
    {% endif %}
</head>
<body ng-app="ishetkutweer" ng-controller="mainCtrl">
<div class="content">
    {% include 'partials/summary.twig' %}
    {% include 'partials/forecast.twig' %}
    {% include 'partials/footer.twig' %}
    {% include 'partials/menu.twig' %}
</div>
</body>
</html>