<header>Welcome to the homepage</header>
<div>
    <ul>
        <li><a target="_blank" href="api/weather">Location by IP</a></li>
        <li><a target="_blank" href="api/weather/51.44126129/3.59591007">Location by lat/lon</a></li>
        <li><a target="_blank" href="api/weather/message">Weather message</a></li>
    </ul>
</div>