<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
    <!-- Basic SEO properties -->
    <title>Is het kutweer v2</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

    <!-- Styles -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/styles.css"/>
</head>
<body>
<header id="page">
    {% include 'partials/header.twig' %}
</header>
<div class="content">
    {% include 'partials/summary.twig' %}
    {% include 'partials/forecast.twig' %}
</div>
</body>
</html>