<!DOCTYPE html>
<meta charset="UTF-8">
<html>
<head>
    <!-- Basic SEO properties -->
    <title>Is het kutweer v2</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

    <!-- Styles -->
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/General/main.css"/>
</head>
<body>
<header id="page">
    <div class="good" id="payoff">
        <p>Het is geen kutweer</p>
    </div>
    <div id="location-search">
        <i class="fa fa-location-arrow"></i>
        <span id="location">Vlissingen</span>
    </div>
</header>
<div class="content">
    <div id="summary" class="block">
        <div class="measurements">
            <div class="measurement good">
                <p>
                    <i class="wi wi-rain-mix"></i>
                    <span class="value">12</span>
                    <span class="suffix">mm</span>
                </p>
            </div>
            <div class="measurement meh">
                <p>
                    <i class="wi wi-thermometer"></i>
                    <span class="value">10</span>
                    <span class="suffix">&deg;C</span>
                </p>
            </div>
            <div class="measurement bad">
                <p>
                    <i class="wi wi-cloudy-windy"></i>
                    <span class="value">88</span>
                    <span class="suffix">km/h</span>
                </p>
            </div>

        </div>
        <div id="text-summary">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut placerat eleifend purus quis ultrices. Aliquam dictum varius diam vel suscipit. Aliquam eu fringilla nisl. Nunc gravida sem elit, id malesuada sem feugiat id. Cras dapibus elementum neque, at ultrices ante pharetra sit amet. Sed ultricies enim enim, eu venenatis leo sagittis nec. Nulla justo lectus, lobortis nec nisi id, pharetra ultricies ante. Donec dignissim non turpis a faucibus. Sed posuere elementum lectus ac gravida. Mauris ultricies felis quis tellus feugiat varius. Integer pretium gravida lorem in faucibus. Etiam condimentum mauris at lacus luctus suscipit. In hac habitasse platea dictumst.
            </p>
        </div>
    </div>
    <div id="table" class="block">
        <table id="week">
            <tr>
                <th></th>
                <th>Ma</th>
                <th>Di</th>
                <th>Wo</th>
                <th>Do</th>
                <th>Vr</th>
                <th>Za</th>
                <th>Zo</th>
            </tr>
            <tr id="sun">
                <td>
                    <i class="wi wi-thermometer"></i>
                </td>
                <td>
                    <span class="value">12</span>
                    <span class="suffix">&deg;C</span>
                </td>
                <td>
                    <span class="value">12</span>
                    <span class="suffix">&deg;C</span>
                </td>
                <td>
                    <span class="value">12</span>
                    <span class="suffix">&deg;C</span>
                </td>
                <td>
                    <span class="value">12</span>
                    <span class="suffix">&deg;C</span>
                </td>
                <td>
                    <span class="value">12</span>
                    <span class="suffix">&deg;C</span>
                </td>
                <td>
                    <span class="value">12</span>
                    <span class="suffix">&deg;C</span>
                </td>
                <td>
                    <span class="value">12</span>
                    <span class="suffix">&deg;C</span>
                </td>
            </tr>
            <tr id="rain">
                <td>
                    <i class="wi wi-rain-mix"></i>
                </td>
                <td>
                    <span class="value">0</span>
                    <span class="suffix">mm</span>
                </td>
                <td>
                    <span class="value">0</span>
                    <span class="suffix">mm</span>
                </td>
                <td>
                    <span class="value">0</span>
                    <span class="suffix">mm</span>
                </td>
                <td>
                    <span class="value">0</span>
                    <span class="suffix">mm</span>
                </td>
                <td>
                    <span class="value">0</span>
                    <span class="suffix">mm</span>
                </td>
                <td>
                    <span class="value">0</span>
                    <span class="suffix">mm</span>
                </td>
                <td>
                    <span class="value">0</span>
                    <span class="suffix">mm</span>
                </td>
            </tr>
            <tr id="wind">
                <td>
                    <i class="wi wi-cloudy-windy"></i>
                </td>
                <td>
                    <span class="value">20</span>
                    <span class="suffix">km/h</span>
                </td>
                <td>
                    <span class="value">20</span>
                    <span class="suffix">km/h</span>
                </td>
                <td>
                    <span class="value">20</span>
                    <span class="suffix">km/h</span>
                </td>
                <td>
                    <span class="value">20</span>
                    <span class="suffix">km/h</span>
                </td>
                <td>
                    <span class="value">20</span>
                    <span class="suffix">km/h</span>
                </td>
                <td>
                    <span class="value">20</span>
                    <span class="suffix">km/h</span>
                </td>
                <td>
                    <span class="value">20</span>
                    <span class="suffix">km/h</span>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>