#table {
  background-color: $gray-light;

  .more {
    margin-top: 20px;
  }
}
table#week {
  width: 100%;
  color: $gray-dark;

  th, i {
    font-size: 40px;
  }
  .value {
    font-size: 20px;
  }
  .suffix {
    font-size: 15px;
  }
  td {
    text-align: center;
    width: 25%;
  }
  tr {
    height: 70px;
  }
  .max-temp, .min-temp {
    display: inline-block;
  }
  .min-temp {
    padding-left: 10px;
    color: gray;
  }

}
table#week {
  border-collapse: collapse;

  .extra {
    display: none;
  }
}
table#week tr:nth-of-type(even) {
  background-color: white;
}
.text-summary {
  overflow: auto;
  padding-bottom: 40px;

  .long-msg {
    display: none;
  }
}