@mixin textShadow($stroke, $color) {
  text-shadow: (-$stroke) (-$stroke) 0 $color, ($stroke) (-$stroke) 0 $color, (-$stroke) ($stroke) 0 $color, ($stroke) ($stroke) 0 $color;
}

header#page {
  background-image: url('../../images/flower.jpg');
  background-size: cover;
  position: relative;

  #payoff {
    position: relative;
  }
  #location-search {
    display: inline-block;
    background: rgba($gray-light, 3/10);
    font-size: $fontsize-tiny;
    bottom: 0;
    position: absolute;
    padding: 10px 20px;
    border-radius: 5px;
    border: 6px solid $gray;
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: $gray-dark;

    i {
      margin-right: 5px;
    }
  }
  p {
    padding: 20px 0px;
    text-align: center;
  }
  #payoff.good {
    background: rgba($green, 5/10);

    p {
      color: $green;
      @include textShadow(2px, $green-dark);
    }
  }

  #payoff.meh {
    background: rgba($yellow, 5/10);

    p {
      color: $yellow;
      @include textShadow(2px, $yellow-dark);
    }
  }

  #payoff.bad {
    background: rgba($red, 5/10);

    p {
      color: $red;
      @include textShadow(2px, $red-dark);
    }
  }


}

/** Responsive styles **/
@media (min-width: $screensize-tiny) {
  header#page {

    min-height: $header-small;

    #payoff {
      top: ($header-small - ($fontsize-small + 40)) / 2;
    }
    #payoff p {
      font-size: $fontsize-small;
    }
  }

  #location-search {
    left: 10%;
  }
}
@media (min-width: $screensize-small) {
  header#page {
    #payoff {
      top: ($header-small - ($fontsize-medium + 40)) / 2;
    }
    #payoff p {
      font-size: $fontsize-medium;
    }
  }

  #location-search {
    left: 15%;
  }
}
@media (min-width: $screensize-medium) {
  header#page {

    min-height: $header-huge;

    #payoff {
      top: ($header-huge - ($fontsize-huge + 40)) / 2;
    }
    #payoff p {
      font-size: $fontsize-large;
    }
  }

  #location-search {
    left: 20%;
  }
}
@media (min-width: $screensize-huge) {
  header#page {
    #payoff {
      top: ($header-huge - ($fontsize-huge + 40)) / 2;
    }
    header#page #payoff p {
      font-size: $fontsize-huge;
    }
  }
}