@mixin scaleFontSize($multiple) {

  table#week {
    th, i {
      font-size: $fontsize-small*$multiple;
    }
    .value {
      font-size: $fontsize-tiny*$multiple;
    }
    .suffix {
      font-size: $fontsize-tiny*5/10*$multiple;
    }
  }
}
#table {
  background-color: $gray-light;

  .more {
    margin-top: 20px;
  }
}
table#week {
  width: 100%;
  color: $gray-dark;

  td {
    text-align: center;
  }
  tr {
    height: 70px;
  }

}

/** Responsive styles **/
@media (min-width: $screensize-tiny) {
  @include scaleFontSize(6/10);
}
@media (min-width: $screensize-small) {
  @include scaleFontSize(8/10);
}
@media (min-width: $screensize-medium) {
  @include scaleFontSize(1);
}
@media (min-width: $screensize-huge) {

}