/** Colors **/
$green: #1fec50;
$green-dark: #10872c;
$yellow: #f9d25a;
$yellow-dark: #caa840;
$red: #ff312c;
$red-dark: #ba2421;
$gray-dark: #3e3e3e;
$gray: #d7d7d7;
$gray-light: #e4e2e2;

/** Font sizes**/
$fontsize-huge: 105px;
$fontsize-large: 90px;
$fontsize-medium: 65px;
$fontsize-small: 50px;
$fontsize-tiny: 30px;

/** Relative font sizes**/
$weatherValue: 7/10;
$weatherIcon: 5/10;
$weatherSuffix: 2/10;

/** Breakpoints **/
$screensize-huge: 1600px;
$screensize-medium: 1200px;
$screensize-small: 800px;
$screensize-tiny: 0px;

/** Header size **/
$header-small: 300px;
$header-huge: 500px;